/* start header  */
body{
    font-family: cairo;
    
}
a.btn:hover {
    color: #fff !important;
    background-color: #000 !important;
}
.discount .cards .card:before,.all-books .cards .card:before {
    content: "20%";
    position: absolute;
    top: 21px;
    left: 0;
    background: red;
    width: 20%;
    height: 7%;
    z-index: 1;
    color: #fff;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
    text-align: center;
    line-height: 190%;
}
.discount .cards .card::after,.all-books .cards .card::after {
    content: "جديد";
    position: absolute;
    top: 21px;
    right: 0;
    background: #b7b7b7;
    width: 20%;
    height: 7%;
    z-index: 1;
    color: #262649;
    border-bottom-left-radius: 9px;
    border-top-left-radius: 9px;
    text-align: center;
    line-height: 190%;
    opacity: 0.8;
}
.splide{visibility: unset;}
.text-right{
    text-align: right;
}

.logo{
    width: 10%;
}

div#navbarSupportedContent {
    direction: rtl;
}
ul.navbar-nav.ml-auto {
    margin-left: 7%;
}
 a.nav-link{
    direction: rtl;
    color: #262649;
    
    
}
a.nav-link i::before{
    font-size: 16px;
   
      color: #262649;
}

/* end header */
/* start section-header */
.section-header .container h1 , .section-header .container p {text-align: right;}
.section-header .container h1 { font-size: 3.5rem;}
.section-header .container h1 span{ color: #246F86;}
.section-header .container .w-50 form.d-flex.w-75 {
    direction: rtl;
    margin-left: 25%;
}
.btn-search{left: 4%;
    top: 12%;
    color: #246f86;
    border-color: #246f86;}
.btn-search:hover{background-color: #246F86;}
.imgs i {font-weight: 900;
    top: 15%;
    right: 12%;
    font-size: 50px;
    border: 1px solid #d1c8c859;
    border-radius: 9px;
    padding: 1%;
    backdrop-filter: blur(2px);
    color: #262649;
}
.imgs i:hover{color: #fd2494;}
.imgs i:nth-child(3){
    top: 71%;
    right: 0px;
}
.imgs i:nth-child(4){
    top: 46%;
    right: 85%;
}
/* end section-header */
/* start sarvices */
section.sarvices .container .row .col-3{ padding: 2% 1%;
    border-radius: 8px;}
section.sarvices .container .row .col-3:nth-child(1){
    background-color:#E7F6F8 ;
   
}
section.sarvices .container .row .col-3:nth-child(2){
    background-color:#E8EBED ;
   
}
section.sarvices .container .row .col-3:nth-child(2) img{
    width: 18%;
    padding-left: 3%;
    
}
section.sarvices .container .row .col-3:nth-child(3){
    background-color:#8383BE ;
    color: #262649;   

}
section.sarvices .container .row .col-3:nth-child(3) i{
    color: #262649; 
    font-size: 30px; 
}
section.sarvices .container .row .col-3 i {
    padding-left: 5%;
    font-size: 25px;
    color: #246F86;

}
/* end sarvices */
/* start discount */
.card-discount-book{width: 300px !important;}
.h3-title{text-align: right;}
.splide__arrow {
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    border: 2px solid #246F86;
    border-radius: 15%;}
button.splide__pagination__page {
        display: none; 
}
.cards .card{
    border: 1px solid #26264970;
    width: 90%;
}

.cards .card-body img {
    width: 90%;
    max-width: 90%;
    border-radius: .25rem;
    margin: 4%;

}
.cards .card-body h5{
    text-align: center;
}
.cards .card-body {
    text-align: right;
    margin-left: 1%;
}
.price-icon .icons{  
    color: #fbff00;
    text-align: center;
    
}
a.btn.btn-colors {
    direction: rtl;
    padding: 1% 5%;
}
a.btn.btn-colors i{
 padding: 0% 5px;
 color: #fff;
}
.btn-colors{
    background-color:#262649;
    color: #fff;
}
 .cards w-25{
   width: 25% ;
} 
.cards .card .price-icon .price p{
    display: inline-flex;
    padding: 5%;
    border: 1px solid #e7f6f8;
    background-color: #E7F6F8;
    border-radius: 9px;
    margin: 0 5%;
}
/* end discount */
/* .owl-stage-outer .owl-item {width: 8% !important;}
.owl-item{width: 8% !important;} */
/* .owl-carousel .owl-stage-outer{position: unset;}
.owl-stage{
    gap: 20px 1% !important;
    width: 2997px !important;

}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
    display: block;
    font-size: 63px;
    color: #262649;
    display: flex;
    justify-content: space-between;
    
}
button.owl-next {
    top: 30%;
    position: absolute;
    right: 0px;
}
button.owl-prev {
    top: 30%;
    position: absolute;
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ffffff;
}
.owl-theme .owl-nav [class*=owl-]{
    background-color: #262649;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: #246f86;}
button.owl-next span , button.owl-prev span {
    display: none;
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    height: 4%;
    width: 2%;
}
button.owl-next:before {
    content: ">";
     background-color: #262649;
     width: 160%;
     height: 160%;
     top: 50px;
     right: 0;
     position: absolute;
     font-size: 19px;
     border: 1px solid #262649;
     border-radius: 5px;
     color: #fff;
     font-family: 'Cairo';
 }
 button.owl-prev:before {
    content: "<";
     background-color: #262649;
     width: 160%;
     height: 160%;
     top: 50px;
     right: 0;
     position: absolute;
     font-size: 19px;
     border: 1px solid #262649;
     border-radius: 5px;
     color: #fff;
     font-family: 'Cairo';
 }
 button.owl-prev:before:hover{
    background-color: #fff;
    color: #262649;
 }
.owl-theme .owl-nav [class*=owl-]:hover {
    background: #246f8600;
}
.all-book-price.w-50.d-flex p {
    display: inline-flex;
    padding: 5%;
    border: 1px solid #e7f6f8;
    background-color: #E7F6F8;
    border-radius: 9px;
    margin: 0 5%;
} */
/* start Features */
.carousel-indicators {
    bottom: -46px;
}
body section.Features-book {
    background-image: url(../imgs/bg.png) !important;
    background-size: cover;
    background-position-y: 41%;
    background-position-x: 73px;
    background-repeat: no-repeat;

}
.carousel-indicators [data-bs-target]{
    background-color: #246F86;
}
.card-features{
    overflow: hidden;
} 
.content {
  
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #262649;
    padding: 4% 0%;
    transition: 0.3s all;
    transform: translatey(102px);
    color: #fff;
    opacity: 0.8;
} 
.content:hover {
    transform: translatey(0px);
} 

.content .price :nth-child(1) {color: red;}
.content .price :nth-child(2) {color: #000;}
section.Features-book .container .cards .card.card-features .content .btn-card a.btn.btn-colors {
    background: #246f86;
}
.card.card-features.bg-light.text-dark:before {
    content: "20%";
    position: absolute;
    top: 21px;
    left: 0;
    background: red;
    width: 20%;
    height: 7%;
    z-index: 1;
    color: #fff;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
    text-align: center;
}
.price.w-50.d-flex p {
    background-color: #e7f6f8;
    padding: 4%;
    border-radius: 9px;
}
.btn-Features-book{
    direction: rtl;
    background-color:#246F86;
    padding: 2%;
    border-radius: 9px;
    text-decoration: none;
}
a.btn-Features-book.btn-colors:hover {
    background: #000;
    color: #fff;
}
/* end Features  */
/* start */
.selsela-books .container .col-8{ width: 100%;}
.form-check-input:checked {
    background-color: #0d6efd0a;
    border: 3px solid #1e3b4a;
    border-radius: 5px;
}
.form-check-input[type=checkbox] {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: -4px;
    background: #f000;
}
.form-check-input:checked[type=checkbox]{background-image: unset;}
.card-body {
    font-size: 12px;
}
.selsela-books .container .col-8 .tab-content .tab-pane .card-body{
    font-size: 12px;
    padding: 0;
    padding-top: 5%;}
.tabel-books {
    margin: auto;
    
}
.price-selsela p:nth-child(1) {
    border: 1px solid red;
    padding: 1% 2%;
    border-radius: 8px;
    background: red;
    color: #fff;

}
.price-selsela p , .price-selsela i{
    border: 1px solid #ffffff;
    padding: 1% 2%;
    border-radius: 8px;
    background: #fff;
}
.price-selsela .fa-star::before{color: #fbff00;}
.btns-cart{
    margin: auto;
}
.row-section {
    border-radius: 9px;
    background: #262649;
    
}
.row-section .card{
background-color: #E7F6F8;
}
.row-section .card:before {
    content: "20%";
    position: absolute;
    top: 26px;
    left: -1px;
    background: red;
    width: 11%;
    height: 13%;
    z-index: 1;
    color: #fff;
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
    text-align: center;
    line-height: 22px;
}
.row-section .btns-cart .btn-colors,.row-section .list-group-item.active {
    background-color: #246F86 !important;
    border-color: #246F86 !important;
}
.row-section a#list-home-list,.row-section a#list-profile-list,a#list-messages-list,#list-settings-list {
    border-radius: 9px;
    margin: 0% 1%;
}

/* end */
/* start any books  */
.carousel-control-prev-icon, .carousel-control-next-icon {
    border: 1px solid #246f86;
    border-radius: 4px;
    position: absolute;
    
    background-color: #246f86;
}
.carousel-control-prev-icon{
    left: 170px;
}
span.carousel-control-next-icon {
    right: 170px;
}
/* end any books  */
/* start form book */
.form-book .container{
    background-image: url(../imgs/omar-ram-XQzGityeQv0-unsplash.png);
    border-radius: 9px;
}
input#exampleInputEmail1[placeholder] {
    text-align: right;
}
button.btn.btn-primary.d-flex.justify-content-center {
    margin: auto;
}
.btn-form {
    color: #fff;
    background-color: #262649;
    border-color: #262649;
}
/* end form book */
/* start footer */
.menu-footer.d-flex.justify-content {
    text-align: right;
}
section.footer .container {
    border: 2px solid #246F86;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}
.logo-footer {
    border-left: 2px solid #246F86;
}
.logo-footer img {
    object-fit: cover;
}
.icons-div-footer {
    border-right: 2px solid #246F86;
    height: 501px;
}
.icons-footer.text-center {
    margin-top: 80%;
}
.footer2 .container{
    background: linear-gradient(to top, #246f86 0%, #123843 100%);
    border-bottom-left-radius:9px ;
    border-bottom-right-radius:9px ;
}
/* end footer */

     
 @media (max-width: 1200px){ 
    section.section-header .container .row .imgs img {
        width: 100%;
    }
    section.sarvices .container {
        width: 100% !important;
    }
    .section-header .container h1 {
        font-size: 2.5rem;
    }
  
 } 
 @media(min-width:769px) and (max-width:1024px){
    section.Features-book .container .row div#splide02 .col-md-4 {
        width: 33.33333333% !important;
    }
 }
 @media(min-width:1024px) and (max-width:1400px){
    .logo-footer img {
        object-fit: contain;
    }
 }
 @media(max-width:1024px){
  
    div#navbarSupportedContent {
        font-size: 9px;
        font-weight: bold;
    }
    .div-card .card {
        max-width: 300px !important;
    }
    .logo-footer img {
        object-fit: contain;
        width: 200px;
    }
 }
 @media(max-width:900px){
    .card-discount-book {
        width: 320px !important;
    }
 }
@media (max-width: 768px){  
    .col-md-12 {
        flex: 0 0 auto;
        width: 100% !important ;
    }
    .form-control {
        margin-bottom: 5%;
        font-size: 13px;
    }
    img {
        width: 410px;
        height: auto;
    }
    .imgs i {
        font-weight: 900;
        top:  15%;
        right: 11%;}
    .imgs i:nth-child(3) {
            top: 71%;
            right: 0px;
    }
    .imgs i:nth-child(4) {
        top: 40%;
        right: 80%;
    }
    section.sarvices .container .row h5 {
        font-size: 16px;
    }
    .card-discount-book{ width: 66%!important;}
    .card-Features-book {
    width: 100% !important;
}
    .w-50{width: 100% !important;}
    .card.mb-3 {
        max-width: 32% !important;
    }

}
@media (max-width: 576px){
    a.navbar-brand img {
        width: 100px !important;
    }
    .price-icon .icons {
        width: 82%;
    }
    a.btn.btn-colors {
        font-size: 12px;
    }
    .div-card{flex-direction: column;}
    .selsela-books-img{
        margin: auto 42px;
        width: 100%;
    }
    .row-section .card:before {height: 5%;}
    .div-card .card {
        margin: 18px auto;
        max-width: 385px !important;
    }
    .icons-div-footer {
        border-right: 2px solid #246F86;
        height: auto !important;
    }
    .icons-footer.text-center {
        margin-top: 20%;
    }
 }
@media(max-width:425px){
    .section-header .container .w-50 form.d-flex.w-75 {
        width: 100% !important;
        margin: auto !important;
        margin-left: unset !important;
        
    }
    .btn-search {
        top: 8% !important;}
    section.form-book {
        padding: 4% 0%;
    }
    section.form-book  .input-form.d-flex.justify-content-center.flex-row-reverse.text-center {
        flex-direction: column !important;
    }
    section.form-book  .form-book-input {padding: unset !important;}
}
 @media (min-width: 768px){
    .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333% !important;
}
}
@media (min-width: 992px){
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25% !important;
    }
}

   
/* end media responsive */